body {
    margin: 0;
    padding: 0;
}

h2, p {
    font-family: sans-serif;
    margin-left: 30px;
    margin-bottom: 10px;
}

p {
    margin: 20px 30px;
}

.underline {
    height: 2px;
    width: calc(30%);
    background-color: rgb(0, 0, 84);
    margin: 10px 30px;
}

table {
    width: calc(100% - 60px);
    height: 100%;
    border-collapse: collapse;
    margin: 8px 30px;
}

td {
    border: 2px solid #ddd;
    padding: 8px;
    font-family: sans-serif;
}
